.navbar {
  padding: 20px 0;
}
.brandStyle {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  align-items: center;
}
.logoText {
  margin-left: 10px;
}
